/* ////// ALL ////// */

:root {
    --orange: #e28c37;
    --black: #424242;
    --true-black: #000;
    --white: #E3e5e8;
    --grey: #71797E;
    --light-pink: #FFEFFD;
    --light-blue: #F0F7FE;
    --blue: #628EE6;
    --purple: #f4f0ff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--purple);
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

